node_modules
.env
.DS_Store

Photo by <a href="https://unsplash.com/@brookelark?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brooke Lark</a> on <a href="https://unsplash.com/s/photos/free-thai-food-pictures?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
Photo by <a href="https://unsplash.com/@charlesdeluvio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">charlesdeluvio</a> on <a href="https://unsplash.com/s/photos/free-thai-food-pictures?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    Picture of asian dumplings

Photo by <a href="https://unsplash.com/@gareth_harrison?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gareth Harrison</a> on <a href="https://unsplash.com/s/photos/thai-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of Thai kitchen employees hard at work

Photo by <a href="https://unsplash.com/@chaya2498?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chaya Ruangsiri</a> on <a href="https://unsplash.com/s/photos/thai-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of crab dish

Photo by <a href="https://unsplash.com/@jomemui?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jerome Jome</a> on <a href="https://unsplash.com/s/photos/thai-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of multiple different Thai foods
  
Photo by <a href="https://unsplash.com/@timothycdykes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Timothy Dykes</a> on <a href="https://unsplash.com/s/photos/thai-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of asian potstickers

Photo by <a href="https://unsplash.com/@brookelark?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brooke Lark</a> on <a href="https://unsplash.com/s/photos/thai-food?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of bowl of misc food spoons in bowl 

Photo by <a href="https://unsplash.com/@jaywennington?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jay Wennington</a> on <a href="https://unsplash.com/s/photos/free-thai-food-pictures?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Picture of a dinner table w/a persons hands plate of food 

Bakery
Photo by <a href="https://unsplash.com/@ulysse_pcl?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ulysse Pointcheval</a> on <a href="https://unsplash.com/s/photos/bakery?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of beautiful desserts 

Photo by <a href="https://unsplash.com/@hamidejy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hamide Jafari</a> on <a href="https://unsplash.com/s/photos/bakery?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of a baker shifting flower

Photo by <a href="https://unsplash.com/@nate_dumlao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan Dumlao</a> on <a href="https://unsplash.com/s/photos/coffee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of coffee beans ground coffee and a "cup" of coffee 

Photo by <a href="https://unsplash.com/@diana_pole?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Diana Polekhina</a> on <a href="https://unsplash.com/s/photos/coffee-and-a-cookie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of marangee cookies 

Photo by <a href="https://unsplash.com/@ellenelss?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Elena Ignatenko</a> on <a href="https://unsplash.com/s/photos/coffee-and-a-cookie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of a bakery counter with awesome desserts 

Photo by <a href="https://unsplash.com/@slashiophotography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Slashio Photography</a> on <a href="https://unsplash.com/s/photos/coffee-and-a-cookie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of coffee cup w/dark chocolate cookies falling into it

Photo by <a href="https://unsplash.com/@huyennguyen?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Antevasin Nguyen</a> on <a href="https://unsplash.com/s/photos/coffee-and-a-cookie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  Photo of basket of chocolate chip cookies with a cup of milk and a cup of coffee